@use 'components/buttons';
@use 'components/infos_bar';
@use 'event';
@use 'hero';
@use 'variables';

* {
  box-sizing: border-box;
  color: variables.$textColor;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;

  @media (max-width: 1024px) {
    max-width: 90%;
  }

  @media (max-width: 700px) {
    max-width: 80%;
  }
}